@font-face {
  font-family: 'icomoon';
  src:
    url('icomoon.ttf?pb9til') format('truetype'),
    url('icomoon.woff?pb9til') format('woff'),
    url('icomoon.svg?pb9til#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*
.a01{background-color: #332288;} 
.b02{background-color: #88CCEE;} 
.c03{background-color: #44AA99;} 
.d04{background-color: #117733;} 
.e05{background-color: #999933;} 
.f06{background-color: #DDCC77;} 
.g07{background-color: #CC6677;} 
.h08{background-color: #882255;} 
.i09{background-color: #AA4499;} 
.j10{background-color: #DDDDDD;} 
*/


/* GREYSCALE CONVERSION with muted color palet : https://personal.sron.nl/~pault/ */

.system-lightgrey{background-color: #DDDDDD;} /* systeme (0,0,87) lightgrey */
.invest-cyan{background-color: #88CCEE;} /* investissement (200,75,73) cyan */
.needfix-teal{background-color: #44AA99;} /* besoin-fixe (170,43,47) teal */
.needvar-olive{background-color: #999933;} /* besoin-variable (60,50,40) olive */
.wantok-purple{background-color: #AA4499;} /* envie-ok (310,43,47) purple */
.wantko-wine{background-color: #882255;} /* envie-ko (330,60,33) wine */ 
