{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Gérer les listes de données</h1>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/param-setup" 
            hx-target="#accountList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear1').remove()">

            <!-- Text -->
            <label for="accountList">Liste des comptes (séparer par des , sans espaces, ordre repris à l'identique)</label>
            <input type="text" id="accountList" name="accountList" value="{{.Form.Account}}" required />

            <!-- Buttons -->
            <button id="disapear1" type="submit" value="Submit">
                Envoyer la liste des comptes
            </button>
        </form>
        <hr>
        <form hx-post="/param-setup" 
            hx-target="#categoryList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear2').remove()">

            <!-- Text -->
            <label for="categoryList">Liste des catégories (séparer par des , sans espaces, ordre repris à l'identique)</label>
            <input type="text" id="categoryList" name="categoryList" value="{{.Form.Category}}" required />

            <!-- Buttons -->
            <button id="disapear2" type="submit" value="Submit">
                Envoyer la liste des catégories
            </button>
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

<section id="info">
    <p>
        <a href="">Rafraichir la page</a> si besoin de refaire de nouvelles modifications.
    </p>
    <p>
        Etape suivante: <a href="/insertrows">Enregistrer des dépenses</a>.
    </p>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
</script>