{{template "head" .}}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>
{{template "body" .}}
{{template "content" .}}

<div class="container">

    <nav>
        <ul>
            <li><strong>GOFI</strong></li>
        </ul>
        <ul>
            <li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="contrast">Options</summary>
                    <ul role="listbox">
                        <li>
                            <a href="#" data-theme-switcher="light">
                                Clair
                                <!-- sun -->
                                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-sun"></use></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-theme-switcher="dark">
                                Sombre
                                <!-- moon -->
                                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-moon"></use></svg>
                            </a>
                        </li>
                        {{if .Logged}}
                            <li>
                                <a href="/logout">
                                    Déconnexion
                                    <!-- user x -->
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-user-x"></use></svg>
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </details>
            </li>
        </ul>
    </nav>

    <figure>
        <img class="center" src="/img/gopherize-me-1.png" alt="Gopher"/>
        {{if .Logged}}
            <p class="center">
                Bienvenue <code>{{.Email}}</code>
                <!-- smile -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-smile"></use></svg>
            </p>
        {{end}}
    </figure>

    <section id="links">
        <h2>Fonctionnalités!</h2>
        <ol>
            {{if .Logged}}
                <li><a href="/param-setup"><button class="contrast outline">
                    <!-- tool -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-tool"></use></svg>
                    Paramétrer l'application
                </button></a></li>
                <li><a href="/insertrows"><button class="contrast">
                    <!-- + square -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
                    Enregistrer des données
                </button></a></li>
                <li><a href="/editrows"><button class="contrast outline">
                    <!-- eye -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-eye"></use></svg>
                    Voir/modifier les données
                </button></a></li>
            {{else}}
                <li><a href="/createUser"><button class="contrast outline">
                    <!-- user plus -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-user-plus"></use></svg>
                    Créer un compte
                </button></a></li>
                <li><a href="/login"><button class="contrast">
                    <!-- user check -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-user-check"></use></svg>
                    Se connecter
                </button></a></li>
            {{end}}
        </ol>
        {{if .Logged}}
            <hr>
            <h5>Gestion via fichier CSV</h5>
            <ul>
                <li><a href="/export-csv"><button class="contrast outline">
                    <!-- file text -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-file-text"></use></svg>
                    Exporter les données en CSV
                </button></a></li>
                <li><a href="/import-csv"><button class="contrast outline">
                    <!-- file text -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-file-text"></use></svg>
                    Importer des données via CSV
                </button></a></li>
            </ul>
            {{if .Admin}}
                <hr>
                <h5>Administration</h5>
                <ul>
                    <li><a href="/admin/backup"><button class="secondary outline">
                        <!-- database -->
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-database"></use></svg>
                        Gérer les backups
                    </button></a></li>
                    <li><a href="/admin/backup?save=1"><button class="secondary outline">
                        <!-- upload cloud -->
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-upload-cloud"></use></svg>
                        <!-- database -->
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-database"></use></svg>
                        Générer un backup DB SQLite
                    </button></a></li>
                </ul>
            {{end}}
        {{end}}
    </section>
    
    <section id="info">
        <hr>
        <h5>Infos</h5>
        <small>
            Fait avec
                • <a target="_blank" href="https://go.dev/">golang </a>
                • <a target="_blank" href="https://htmx.org/">htmx</a>
                • <a target="_blank" href="https://picocss.com/">picocss</a>
                • <a target="_blank" href="https://www.sqlite.org/">sqlite</a>
            <br>
            Logo 
            <a target="_blank" href="https://gopherize.me/">gopherize.me</a> • Icons <a target="_blank" href="https://feathericons.com/">feather</a>
            <br>
            Code source
            <a target="_blank" href="https://github.com/BenjaminMary/gofi/">github</a>
        </small>
    </section>
</div>
<!-- end main, body, html section usually ended with the footer template -->
</main>
    <!-- Minimal theme switcher -->
    <script src="/js/minimal-theme-switcher.js"></script>
</body>
</html>