{{template "head" .}}
{{template "body" .}}
{{template "content" .}}

<div class="container">


    <figure>
        <img src="/img/gopherize-me-1.png" alt="Gopher"/>
    </figure>

    <section id="links">
        <h2>Fonctionnalités!</h2>
        {{if .Logged}}
            <p>Bienvenue <code>{{.Email}}</code> !</p>
        {{end}}
        <ol>
            {{if .Logged}}
                <li><a href="/param-setup"><button class="contrast outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool"><path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"></path></svg>
                    Paramétrer l'application
                </button></a></li>
                <li><a href="/insertrows"><button class="contrast">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                    Enregistrer des données</button>
                </a></li>
                <li><a href="/editrows"><button class="contrast outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    Visualiser et modifier les données
                </button></a></li>
            {{else}}
                <li><a href="/createUser"><button class="contrast outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                    Créer un compte
                </button></a></li>
                <li><a href="/login"><button class="contrast">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                    Se connecter
                </button></a></li>
            {{end}}
        </ol>
        {{if .Logged}}
            <hr>
            <h5>Gestion via fichier CSV</h5>
            <ul>
                <li><a href="/export-csv"><button class="secondary outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    Exporter les données en CSV
                </button></a></li>
                <li><a href="/import-csv"><button class="secondary outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    Importer des données via CSV
                </button></a></li>
            </ul>
            <hr>
            <a href="/logout">
                <!-- log out -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="18" y1="8" x2="23" y2="13"></line><line x1="23" y1="8" x2="18" y2="13"></line></svg> 
                Se déconnecter
            </a>
            {{if .Admin}}
                <hr>
                <h5>Administration</h5>
                <ul>
                    <li><a href="/admin/backup">Gérer les backups</a></li>
                    <li><a href="/admin/backup?save=1">Générer un backup DB SQLite</a></li>
                </ul>
            {{end}}
        {{end}}
    </section>
    <nav>
        <a href="#" data-theme-switcher="light">
            <!-- sun -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gainsboro" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
        </a>
        Luminosité
        <a href="#" data-theme-switcher="dark">
            <!-- moon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="darkslategrey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
        </a>
    </nav>
    <hr>
    <section id="tools">
        <small>
            Fait avec
                • <a target="_blank" href="https://go.dev/">golang </a>
                • <a target="_blank" href="https://htmx.org/">htmx</a>
                • <a target="_blank" href="https://picocss.com/">picocss</a>
                • <a target="_blank" href="https://www.sqlite.org/">sqlite</a>
            <br>
            Logo 
            <a target="_blank" href="https://gopherize.me/">gopherize.me</a> • Icons <a target="_blank" href="https://feathericons.com/">feather</a>
            <br>
            Code source
            <a target="_blank" href="https://github.com/BenjaminMary/gofi/">Github</a>
        </small>
    </section>
</div>
<!-- end main, body, html section usually ended with the footer template -->
</main>
    <!-- Minimal theme switcher -->
    <script src="/js/minimal-theme-switcher.js"></script>
</body>
</html>