{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Export CSV</h1>

<section id="form">
    <h3>Options</h3>
    <form hx-post="/export-csv"
        hx-target="#filecontent"
        hx-indicator="#spinner"
        hx-on::after-request="if(event.detail.successful) document.getElementById('form').remove()">
        <!-- <form> -->
        <div class="grid">
            <div>
                <!-- Select -->
                <label for="csvSeparator">Séparateur de colonne</label>
                <select id="csvSeparator" name="csvSeparator" required>
                    <option value=";" selected>";" : exemple A;B;C</option>
                    <option value=",">"," : exemple A,B,C</option>
                    <option value="|">"|" : exemple A|B|C</option>
                    <option value="" disabled> </option>
                </select>
            </div>
            <div>
                <!-- Select -->
                <label for="csvDecimalDelimiter">Séparateur de décimale</label>
                <select id="csvDecimalDelimiter" name="csvDecimalDelimiter" required>
                    <option value="," selected>"," : exemple 1,99</option>
                    <option value=".">"." : exemple 1.99</option>
                    <option value="" disabled> </option>
                </select>
            </div>
        </div>

        <div class="grid">
            <div>
                <!-- Radio buttons -->
                <fieldset>
                    <legend>Format des dates</legend>
                    <label for="FR">
                        <input type="radio" id="FR" name="dateFormat" value="FR" checked />
                        FR : DD/MM/YYYY, DD-MM-YYYY
                    </label>
                    <label for="EN">
                        <input type="radio" id="EN" name="dateFormat" value="EN" />
                        EN : YYYY-MM-DD, YYYY/MM/DD
                    </label>
                </fieldset>
            </div>
            <div>
                <!-- Radio buttons -->
                <fieldset>
                    <legend>Séparateur des dates</legend>
                    <label for="/">
                        <input type="radio" id="/" name="dateSeparator" value="/" checked />
                        / : DD/MM/YYYY, YYYY/MM/DD
                    </label>
                    <label for="-">
                        <input type="radio" id="-" name="dateSeparator" value="-" />
                        - : DD-MM-YYYY, YYYY-MM-DD
                    </label>
                </fieldset>    
            </div>
        </div>

        <!-- Buttons -->
        <button type="submit" value="Submit">
            <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
                <!-- eye -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
            Visualiser les données
        </button>
    </form>
    <hr>
</section>

<section id="dl">
    <h3>Téléchargement</h3>
    <button id="download">
        <!-- download cloud -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-download-cloud"></use></svg>
        Télécharger le fichier CSV
    </button>
    <textarea id="filename" rows="1" readonly>{{.FileName}}</textarea>
    <textarea id="filecontent" rows="10" readonly></textarea>
    <p>
        Le fichier téléchargé est au format UTF-8 avec une fin de ligne LF (Unix), les données sont limités aux 10 000 derniers enregistrements.
        <hr>
        Pour ouverture dans Excel sans avoir de problème d'affichage concernant les accents:
        <ol>
            <li>utiliser l'option <code>Fichier Texte</code> qui se trouve dans le ruban <code>Données</code>, partie <code>Données externes</code></li>
            <li>modifier le paramètre <code>Origine du fichier</code> en <code>65001 : Unicode (UTF-8)</code></li>
        </ol>
    </p>
</section>

{{template "footer" .}}

<script src="/js/download-text-utf8.js"></script>