{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Import CSV</h1>
<p>Un exemple d'import est disponible <a href="#example">en bas de page</a>.</p>

<section id="form">
    <h3>Options</h3>
    <form enctype="multipart/form-data"
        hx-post="/import-csv"
        hx-target="#textarea"
        hx-indicator="#spinner"
        hx-on::after-request="if(event.detail.successful) document.getElementById('form').remove()">
        <!-- <form> -->
        <div class="grid">
            <div>
                <!-- Select -->
                <label for="csvSeparator">Séparateur de colonne</label>
                <select id="csvSeparator" name="csvSeparator" required>
                    <option value=";" selected>";" : exemple A;B;C</option>
                    <option value=",">"," : exemple A,B,C</option>
                    <option value="|">"|" : exemple A|B|C</option>
                    <option value="" disabled> </option>
                </select>
            </div>
            <div>
                <!-- Select -->
                <label for="csvDecimalDelimiter">Séparateur de décimale</label>
                <select id="csvDecimalDelimiter" name="csvDecimalDelimiter" required>
                    <option value="," selected>"," : exemple 1,99</option>
                    <option value=".">"." : exemple 1.99</option>
                    <option value="" disabled> </option>
                </select>
            </div>
        </div>
        <div class="grid">
            <div>
                <!-- Radio buttons -->
                <fieldset>
                    <legend>Format des dates</legend>
                    <label for="FR">
                        <input type="radio" id="FR" name="dateFormat" value="FR" checked />
                        FR : DD/MM/YYYY, DD-MM-YYYY
                    </label>
                    <label for="EN">
                        <input type="radio" id="EN" name="dateFormat" value="EN" />
                        EN : YYYY-MM-DD, YYYY/MM/DD
                    </label>
                </fieldset>
            </div>
            <div>
                <!-- Radio buttons -->
                <fieldset>
                    <legend>Séparateur des dates</legend>
                    <label for="/">
                        <input type="radio" id="/" name="dateSeparator" value="/" checked />
                        / : DD/MM/YYYY, YYYY/MM/DD
                    </label>
                    <label for="-">
                        <input type="radio" id="-" name="dateSeparator" value="-" />
                        - : DD-MM-YYYY, YYYY-MM-DD
                    </label>
                </fieldset>
            </div>
        </div>

        <!-- File -->
        <label for="csvFile">Charger le fichier csv</label>
        <input type="file" id="csvFile" name="csvFile">

        <!-- Buttons -->
        <button id="disapear" type="submit" value="Submit">
            <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
            <!-- upload cloud -->
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-upload-cloud"></use></svg>
            Charger le fichier CSV
        </button>
    </form>
    <hr>
</section>

<textarea id="textarea" rows="10"></textarea>

<hr>

<section id="example">
    <h3>Exemple</h3>
    <h5>La liste des champs à renseigner:</h5>
    <ol>
        <li><code>𫝀é ꮖꭰ</code>: laisser vide pour créer un enregistrement ou spécifier un ID d'enregistrement existant pour le mettre à jour.</li>
        <li><code>Date</code>: doit respecter le format spécifié, dans l'exemple <code>JJ/MM/AAAA</code>, ne pas laisser vide</li>
        <li><code>Account</code>: le compte utilisé pour l'enregistrement</li>
        <li><code>Product</code>: la désignation de l'enregistrement</li>
        <li><code>PriceStr</code>: doit respecter le séparateur de décimale spécifié, dans l'exemple <code>,</code> avec un maximum de 2 décimales prises en compte</li>
        <li><code>Category</code>: la catégorie de l'enregistrement</li>
        <li><code>CommentInt</code>: un commentaire chiffré sans décimale (si besoin de faire des stats)</li>
        <li><code>CommentString</code>: un commentaire en texte libre</li>
        <li><code>Checked</code>: valeurs <code>true</code> ou <code>false</code></li>
        <li><code>DateChecked</code>: doit respecter le format spécifié, dans l'exemple <code>JJ/MM/AAAA</code>. Si vide, sera enregistré à <code>31/12/9999</code></li>
        <li><code>Exported</code>: valeurs <code>true</code> ou <code>false</code></li>
        <li><code>""</code>: valeurs vides <code>""</code>, colonne supplémentaire à garder vide.</li>
    </ol>

    <h5>Exemple d'un fichier .csv de 5 lignes avec en-têtes, donc 4 à importer:</h5>
    <ul>
        <li>séparateur csv <code>;</code></li>
        <li>séparateur décimale <code>,</code></li>
        <li>format date FR <code>JJ/MM/AAAA</code></li>
    </ul>
    <ol>
        <li><code>𫝀é ꮖꭰ;Date;Account;Product;PriceStr;Category;CommentInt;CommentString;Checked;DateChecked;Exported</code></li>        
        <li><code>1;12/11/2023;CB;Exemple 1 avec ID 1;2,03;Supermarché;0;;true;02/12/2023;false</code></li>
        <li><code>;10/12/2024;CB;Exemple 2 sans ID;9,00;Supermarché;0;;false;;false</code></li>
        <li><code>156979;10/12/2024;CB;Exemple 3 avec ID inconnu;87,50;Supermarché;0;;false;31/12/2200;false</code></li>
        <li><code>-2;10/12/2024;CB;Exemple 4 avec ID négatif -2;24,50;Supermarché;0;;false;31/12/2200;false</code></li>
    </ol>
    <ol>
        <li>La 1ere ligne sert pour les en-têtes et quelques contrôles de la validité du fichier</li>
        <li>Dans l'exemple 1, avec un ID on fait un <code>UPDATE</code> des données de la ligne qui a cet ID <code>1</code></li>
        <li>Dans l'exemple 2, sans ID, on fait un <code>INSERT</code> d'une nouvelle ligne sur laquelle on va attribuer un ID</li>
        <li>Dans l'exemple 3, avec un ID inconnu, on fait une tentative d'<code>UPDATE</code> des données de la ligne qui a cet ID <code>156979</code>, mais qui sera rejetée</li>
        <li>Dans l'exemple 4, avec un ID négatif, on fait un <code>DELETE</code> des données de la ligne qui a cet ID <code>2</code>. 
            L'ID de la ligne est gardé mais avec toutes les infos dans des valeurs par défaut et un prix à 0</li>
    </ol>

    <h5>Les résultats de l'import:</h5>
    <ol>
        <li>En-têtes de retour: <code>𫝀é ꮖꭰ;Date;CommentInt;Checked;Exported;NewID;Updated;</code></li>
        <li>
            Pour l'exemple 1, <code>UPDATE</code> de l'ID <code>1</code> validé avec l'info de l'en-tête de retour <code>Updated</code> à <code>true</code>:<br> 
            <code>UPDATE 1;;;;;true;</code>
        </li>
        <li>
            Pour l'exemple 2, <code>INSERT</code> d'une nouvelle ligne validé avec l'info de l'ID attribué via en-tête retour <code>NewID</code> à <code>3</code>, 
            on pourra donc mettre à jour cette ligne plus tard en utilisant cet ID:<br> 
            <code>INSERT;;;;3;true;</code>
        </li>
        <li>
            Pour l'exemple 3, <code>UPDATE</code> de l'ID inconnu <code>156979</code> invalide avec l'info de l'en-tête de retour <code>NewID</code> à <code>unknown ID</code>
            ainsi que <code>Updated</code> à <code>false</code>:<br> 
            <code>UPDATE 156979;;;;unknown ID;false;</code>
        </li>
        <li>
            Pour l'exemple 4, <code>DELETE</code> de l'ID négatif <code>2</code> validé avec l'info de l'en-tête de retour <code>Updated</code> à <code>true</code>,
            force également un passage de <code>checked</code> à <code>true</code>, et <code>exported</code> à <code>false</code>:<br> 
            <code>DELETE-2;1999-12-31;;checked true;exported false;;true;</code>
        </li>
    </ol>
    <hr>
    <h5>INFOS:</h5> 
    <ul>
        <li>
            Seul les fichiers UTF-8 sont acceptés.<br>
            <i><small>
                (La 1ere colonne ID, noté <code>𫝀é ꮖꭰ</code> utilise des caractères UTF-8 spécifiques pour contrôler l'encodage du fichier, 
                sans ces caractères, l'import sera bloqué.)
            </small></i>
        </li>
        <li>Tous les ID sont attribués par l'application, il est impossible d'en changer ou d'en forcer un spécifique.</li>
        <li>Années valides entre 1900 et 2200</li>
    </ul>
</section>

{{template "footer" .}}
