{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
<style>
    #forbidden.htmx-added {
      opacity: 0;
    }
    #forbidden {
      opacity: 1;
      transition: opacity 1s ease-out;
    }
</style>
{{template "body" .}}
{{template "content" .}}

<h1>Login</h1>

{{ if .Logged }}
    <p>Déjà connecté <code>{{.Email}}</code></p>
{{ else }}
    <section id="form">
        <form hx-post="/login"
            hx-target="#form" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-indicator="#spinner">
            
            <!-- Text -->
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="exemple@gmail.com" required />

            <!-- Password -->
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>

            <div id="forbidden"></div>

            <!-- Buttons -->
            <button type="submit" value="Submit">
                <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
                <!-- user check -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-user-check"></use></svg>
                Se connecter
            </button>
        </form>
        <!-- create user if not logged -->
        {{ if not .Logged }}
            <div>
                Nouveau ?<br>
                <a href="/createUser" role="button" class="contrast outline">
                    <!-- user plus -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-user-plus"></use></svg>
                    Créer un compte
                </a>
            </div>
        {{ end }}
    </section>
{{ end }}

<section id="options">
    <aside><nav><ul>
        <li>
            <!-- fast forward -->
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-fast-forward"></use></svg>
            Etape suivante: 
            <a href="/param-setup" role="button" class="contrast outline">
                <!-- tool -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-tool"></use></svg>
                Paramétrer l'application
            </a>
        </li>
        <li>
            <!-- fast forward -->
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-fast-forward"></use></svg>
            Raccourci: <br>
            <a href="/insertrows" role="button" class="contrast">
                <!-- + square -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
                Enregistrer des données
            </a>
        </li>
    </aside></nav></ul>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
</script>