{{template "head" .}}
{{template "body" .}}
{{template "content" .}}

<h1>Logout</h1>

<section id="info">
    <p>
        {{.Info}} <code>{{.Email}}</code> 
        <!-- smile -->
        <svg width="24" height="24" stroke="currentColor" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-smile"></use></svg>
    </p>
    <a href="/login" role="button" class="contrast">
        <!-- user check -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-user-check"></use></svg>
        Se connecter
    </a>
</section>

{{template "footer" .}}