{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Gérer les listes de données</h1>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/param-setup" 
            hx-target="#accountList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear1').remove()">

            <!-- Text -->
            <label for="accountList"><strong><small>Liste des comptes (séparer par des , sans espaces, ordre repris à l'identique)</small></strong></label>
            <input type="text" id="accountList" name="accountList" value="{{.UserParams.AccountListSingleString}}" required />

            <!-- Buttons -->
            <button id="disapear1" type="submit" value="Submit">
                <!-- save -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-save"></use></svg>
                Envoyer la liste des comptes
            </button>
        </form>
        <hr>
        <form hx-post="/param-setup" 
            hx-target="#categoryList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear2').remove()">

            <!-- Text -->
            <label for="categoryList"><strong><small>Liste des catégories (séparer par des , sans espaces, ordre repris à l'identique)</small></strong></label>
            <textarea id="categoryList" name="categoryList" rows="3" required>{{.UserParams.CategoryListSingleString}}</textarea>

            <!-- Buttons -->
            <button id="disapear2" type="submit" value="Submit">
                <!-- save -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-save"></use></svg>
                Envoyer la liste des catégories
            </button>
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>
<hr>
<section id="info">
    <aside><nav><ul>
        <li><a href="" role="button" class="secondary outline">
            <!-- refresh clockwise -->
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-refresh-cw"></use></svg>
            Rafraichir la page pour refaire des modifications
        </a></li>
        <li><a href="/category-setup" role="button" class="contrast outline">
            <!-- eye -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
            Voir les catégories existantes
        </a></li>
        <li>
            <!-- fast forward -->
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-fast-forward"></use></svg>
            Etape suivante: 
            <a href="/insertrows" role="button" class="contrast">
                <!-- plus-square -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
                Enregistrer des données
            </a>
        </li>
    </aside></nav></ul>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
</script>