{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
<link rel="stylesheet" href="fonts/style.css"/>
{{template "body" .}}
{{template "content" .}}

<h1>Gérer les catégories</h1>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/category-setup" 
            hx-target="#categoryList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear2').remove()">

            <p>
                <!-- help 808080 -->
                <span id="icon" class="icomoon" style="background-color: #808080;">&#xe90a;</span> 
                Catégorie
            </p>
            <!-- Color -->
            Modifier la couleur de l'icône ci-dessus "?":
            <input id="colorPicker" type="color" value="#808080" aria-label="Color picker"/>

            {{range $i, $val := .CategoryList}}
                {{$iconCodePoint := index $.IconCodePointList $i}}
                {{$colorHEX := index $.ColorHEXList $i}}
                <span class="icomoon" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span> {{$val}} • 
            {{end}}

        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

<svg width="24" height="24" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="12" fill="#ffffff" />
    <text x="12" y="12" alignment-baseline="central" text-anchor="middle" fill="#178217" font-size="16" font-weight="bold" font-family="Roboto">CA</text>
</svg>
•
<svg width="24" height="24" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="12" fill="#0AB3C2" />
    <text x="12" y="12" alignment-baseline="central" text-anchor="middle" fill="#ffffff" font-size="16" font-weight="bold" font-family="Roboto">HB</text>
</svg>
•
<svg width="24" height="24" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="12" fill="#CCBB00" />
    <text x="12" y="4" alignment-baseline="central" text-anchor="middle" fill="#000000" font-size="12" font-weight="normal" font-family="Roboto">esp</text>
    <text x="12" y="16" alignment-baseline="central" text-anchor="middle" fill="#000000" font-size="16" font-weight="bold" font-family="Roboto">€</text>
</svg>
•
<svg width="24" height="24" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="12" fill="firebrick" />
    <text x="12" y="7" alignment-baseline="central" text-anchor="middle" fill="#ffffff" font-size="12" font-weight="normal" font-family="Roboto">PEA</text>
    <polyline points="24 7 14.5 16.5 9.5 11.5 2 19" fill="green" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></polyline>
    <polyline points="18 7 24 7 24 13" fill="green" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></polyline>
</svg>
<hr>
<svg width="30" height="30" viewBox="0 0 30 30">
    <circle cx="15" cy="15" r="15" fill="#808080" />
    <text x="15" y="6" alignment-baseline="central" text-anchor="middle" fill="#ffffff" font-size="16" font-weight="normal" font-family="Roboto">22</text>
    <text x="15" y="18" alignment-baseline="central" text-anchor="middle" fill="#ffffff" font-size="16" font-weight="normal" font-family="Roboto">mar</text>
</svg>
•
<svg width="30" height="30" viewBox="0 0 30 30">
    <circle cx="15" cy="15" r="15" fill="#808080" />
    <text x="15" y="6" alignment-baseline="central" text-anchor="middle" fill="#ffffff" font-size="16" font-weight="normal" font-family="Roboto">22</text>
    <text x="15" y="18" alignment-baseline="central" text-anchor="middle" fill="#ffffff" font-size="16" font-weight="normal" font-family="Roboto">juin</text>
</svg>
•
<svg width="30" height="30" viewBox="0 0 30 30">
    <circle cx="15" cy="15" r="15" fill="#ffffff" />
    <text x="15" y="6" alignment-baseline="central" text-anchor="middle" fill="#000" font-size="16" font-weight="bold" font-family="Roboto">22</text>
    <text x="15" y="18" alignment-baseline="central" text-anchor="middle" fill="#000" font-size="16" font-weight="normal" font-family="Roboto">mar</text>
</svg>
•
<svg width="30" height="30" viewBox="0 0 30 30">
    <circle cx="15" cy="15" r="15" fill="#ffffff" />
    <text x="15" y="6" alignment-baseline="central" text-anchor="middle" fill="#000" font-size="16" font-weight="bold" font-family="Roboto">22</text>
    <text x="15" y="18" alignment-baseline="central" text-anchor="middle" fill="#000" font-size="16" font-weight="normal" font-family="Roboto">juin</text>
</svg>
•
<svg width="34" height="30" viewBox="0 0 34 30">
    <text x="34" y="6" alignment-baseline="central" text-anchor="end" fill="currentColor" font-size="16" font-weight="normal" 
        font-family="Roboto">22</text>
    <text x="34" y="20" alignment-baseline="central" text-anchor="end" fill="currentColor" font-size="16" font-weight="normal" 
        font-family="Roboto">juin</text>
    <text x="-10" y="5" alignment-baseline="central" text-anchor="middle" fill="currentColor" font-size="9" font-weight="normal" 
        font-family="Roboto" transform="rotate(-90)">2024</text>
</svg>
<hr>
<span class="icomoon" style="background-color: #0AB3C2;">&#xe917;</span>
<span class="icomoon" style="background-color: #178217;">&#xe915;</span>
<span class="icomoon" style="background-color: #8033CC;">&#xe912;</span>
<span class="icomoon" style="background-color: #178217;">&#xe911;</span>
<span class="icomoon" style="background-color: #B3AA4D;">&#xe910;</span>
<span class="icomoon" style="background-color: #B3AA4D;">&#xe90f;</span>
<span class="icomoon" style="background-color: #178217;">&#xe90e;</span>
<span class="icomoon" style="background-color: #8033CC;">&#xe90d;</span>
<span class="icomoon" style="background-color: #CC33CC;">&#xe904;</span>
<span class="icomoon" style="background-color: #0AB3C2;">&#xe903;</span>

<!-- 
    icons for account if needed
    credit_card e870
    credit_card_off e4f4
    savings e2eb
    payments ef63
    attach_money e227 = $
    euro ea15
    currency_pound eaf1
    currency_bitcoin ebc5
 -->
<hr>
<section id="info">
    <!-- fast forward -->
    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-fast-forward"></use></svg>
    Etape suivante: <br>
    <a href="/insertrows" role="button" class="contrast">
        <!-- plus-square -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
        Enregistrer des données
    </a>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });

    document.getElementById('colorPicker').addEventListener('change', function(c){
        document.getElementById("icon").style.backgroundColor = document.getElementById("colorPicker").value;
    });
</script>