{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Gérer les listes de données</h1>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/param-setup" 
            hx-target="#accountList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear1').remove()">

            <!-- Text -->
            <label for="accountList">Liste des comptes (séparer par des , sans espaces, ordre repris à l'identique)</label>
            <input type="text" id="accountList" name="accountList" value="{{.UserParams.AccountListSingleString}}" required />

            <!-- Buttons -->
            <button id="disapear1" type="submit" value="Submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                Envoyer la liste des comptes
            </button>
        </form>
        <hr>
        <form hx-post="/param-setup" 
            hx-target="#categoryList" 
            hx-swap="outerHTML"
            hx-sync="this:drop"
            hx-on::after-request="if(event.detail.successful) document.getElementById('disapear2').remove()">

            <!-- Text -->
            <label for="categoryList">Liste des catégories (séparer par des , sans espaces, ordre repris à l'identique)</label>
            <input type="text" id="categoryList" name="categoryList" value="{{.UserParams.CategoryListSingleString}}" required />

            <!-- Buttons -->
            <button id="disapear2" type="submit" value="Submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                Envoyer la liste des catégories
            </button>
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>
<hr>
<section id="info">
    <a href=""><button class="secondary outline">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
        Rafraichir la page pour refaire des modifications
    </button></a>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-fast-forward"><polygon points="13 19 22 12 13 5 13 19"></polygon><polygon points="2 19 11 12 2 5 2 19"></polygon></svg>
    Etape suivante: 
    <!-- <a href="/insertrows">Enregistrer des dépenses</a>. -->
    <a href="/insertrows"><button class="contrast">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        Enregistrer des données</button>
    </a>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
</script>