{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
<link rel="stylesheet" href="fonts/style.css"/>
{{template "body" .}}
{{template "content" .}}

<h1>Insérer des données</h1>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/insertrows" 
            hx-target="#lastInsert" 
            hx-swap="afterbegin" 
            hx-sync="this:drop"
            hx-indicator="#spinner"
            hx-on::after-request="if(event.detail.successful) this.reset()">

            <div class="grid">
                <div>
                    <!-- Date-->
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" value="{{.Form.Date}}" required />
                </div>
                <div>
                    <!-- Select -->
                    <label for="compte">Compte</label>
                    <select id="compte" name="compte" required>
                        {{range $valA := .UserParams.AccountList}}
                            <option value="{{$valA}}">{{$valA}}</option>
                        {{end}}
                    </select>
                </div>
            </div>

            <!-- Custom Radios Select Dropdown -->
            <span id="categoryLabel">Catégorie</span>
            <details id="categoryDropdown" class="dropdown">
                {{range $i, $C := .UserParams.CategoryList}}
                    {{$catego := index $C 0}}
                    {{$iconCodePoint := index $C 1}}
                    {{$colorHEX := index $C 2}}

                    {{if eq $i 0}}
                        <summary>
                            <span id="summaryIcon" class="icomoon" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span>
                            <span id="summaryCategory">{{$catego}}</span>
                        </summary>
                        <ul id="overflowLimitHeight">
                    {{end}}
                    <li>
                        <label>
                            <input id="input{{$i}}" type="radio" name="categorie" value="{{$catego}}"/>
                            <span id="icon{{$i}}" class="icomoon" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span>
                            {{$catego}}
                        </label>
                    </li>
                {{end}}</ul>
            </details>

            <!-- Text -->
            <label for="designation">Désignation</label>
            <input type="text" id="designation" name="designation" placeholder="(Facultatif) description de l'achat" />

            <div class="grid">
                <div>
                    <!-- Number -->
                    <label for="prix">Prix</label>
                    <input type="number" id="prix" name="prix" min="0.00" max="100000.00" step="0.01" required />
                </div>
                <div>
                    <!-- Radio buttons -->
                    <fieldset>
                        <legend>Type</legend>
                        <label for="gain">
                            <input type="radio" id="gain" name="gain-expense" value="gain" />
                            <!-- trending up -->
                            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-trending-up"></use></svg>
                            Gain
                        </label>
                        <label for="expense">
                            <input type="radio" id="expense" name="gain-expense" value="expense" checked />
                            <!-- trending down -->
                            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-trending-down"></use></svg>
                            Dépense
                        </label>
                    </fieldset>
                </div>
            </div>

            <!-- Buttons -->
            <!-- <input type="reset" value="Réinitialiser"/> -->
            <button type="submit" value="Submit">
                <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
                <!-- save -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-save"></use></svg>
                Enregistrer
            </button>
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

<section id="recap">
    <div class="overflow-auto">
        <figure>
            <table class="striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Compte</th>
                        {{$categoryRendering := .UserParams.CategoryRendering}}
                        {{if eq $categoryRendering "icons"}}
                            <th scope="col">Cat</th>
                        {{else}}
                            <th scope="col">Categorie</th>
                        {{end}}
                        <th scope="col">Designation</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody id="lastInsert">
                    {{define "lastInsert"}}
                    <tr>
                        <td>{{.Form.Date}}</td>
                        <td>{{.Form.Account}}</td>
                        <td>{{.Form.Category}}</td>
                        <td>{{.Form.Product}}</td>
                        <td>{{.Form.FormPriceStr2Decimals}}</td>
                    </tr>
                    {{end}}
                    {{range $FT := .FTlist}}
                        <tr>
                            <td>{{$FT.Date}}</td>
                            <td>{{$FT.Account}}</td>
                            {{if eq $categoryRendering "icons"}}
                                <td>
                                    <span class="icomoon" style="background-color: {{$FT.CategoryColor}};">&#x{{$FT.CategoryIcon}};</span>
                                </td>
                            {{else}}
                                <td>{{$FT.Category}}</td>
                            {{end}}
                            <td>{{$FT.Product}}</td>
                            <td>{{$FT.FormPriceStr2Decimals}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
    </div>
</section>

<section id="info">
    <p>
        Un récapitulatif des enregistrements est disponible ci-dessus.<br>
        Le dernier enregistrement effectué se trouve toujours tout en haut.<br>
        Les 5 derniers enregistrements effectués sont disponible à l'ouverture de cette page, attention, 
        ils ne sont pas forcément dans l'ordre chronologique si une date a été modifiée.
    </p>
    <a href="/transfer"><button class="contrast">
        <!-- fast forward -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-fast-forward"></use></svg>
        Transfert entre comptes
    </button></a>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });

    // this script add click event on inputs inside the categoryDropdown
    document.getElementById('input0').checked = true;
    var categoryList = {{.UserParams.CategoryList}};
    var childInputs = document.getElementById('categoryDropdown').getElementsByTagName('input');
    for (var i = 0; i < childInputs.length; i++) {
        inputId = childInputs[i].id;
        //console.log(inputId + ": " + childInputs[i].value);
        document.getElementById(inputId).addEventListener('click', function(c){
            idInt = parseInt(this.id.replace("input",""));
            //console.log(categoryList[idInt]);
            document.getElementById('summaryCategory').innerHTML = categoryList[idInt][0]
            document.getElementById('summaryIcon').innerHTML = "&#x" + categoryList[idInt][1] + ";"
            document.getElementById('summaryIcon').style.backgroundColor = categoryList[idInt][2]
            document.getElementById('categoryDropdown').open = false;
        });
    };
</script>