{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Transfert</h1>
<small><i>Transférer un montant depuis un compte vers un autre.</i></small>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/transfer" 
            hx-target="#lastInsert" 
            hx-swap="afterbegin" 
            hx-sync="this:drop"
            hx-indicator="#spinner"
            hx-on::after-request="if(event.detail.successful) this.reset()">

            <div class="grid">
                <div>
                    <!-- Select -->
                    <label for="compteDepuis">Depuis</label>
                    <select id="compteDepuis" name="compteDepuis" required>
                        {{range $valA := .UserParams.AccountList}}
                            <option id="from{{$valA}}" value="{{$valA}}">{{$valA}}</option>
                        {{end}}
                    </select>
                </div>
                <div>
                    <!-- Select -->
                    <label for="compteVers">Vers</label>
                    <select id="compteVers" name="compteVers" required>
                        <option value="-" selected disabled>-</option>
                        {{range $valA := .UserParams.AccountList}}
                            <option id="to{{$valA}}" value="{{$valA}}">{{$valA}}</option>
                        {{end}}
                    </select>
                </div>
            </div>

            <div class="grid">
                <div>
                    <!-- Date-->
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" value="{{.Form.Date}}" required />
                </div>
                <div>
                    <!-- Number -->
                    <label for="prix">Montant</label>
                    <input type="number" id="prix" name="prix" min="0.00" max="100000.00" step="0.01" required />
                </div>
            </div>

            <!-- Buttons -->
            <!-- <input type="reset" value="Réinitialiser"/> -->
            <button type="submit" value="Submit">
                <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
                <!-- save -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-save"></use></svg>
                Transférer
            </button>
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

<section id="recap">
    <div>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Compte</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody id="lastInsert">
                    {{define "lastInsert"}}
                    <tr>
                        <td>{{.FormTo.Date}}</td>
                        <td>{{.FormTo.Account}}</td>
                        <td>{{.FormTo.Category}}</td>
                        <td>{{.FormTo.Product}}</td>
                        <td>{{.FormTo.FormPriceStr2Decimals}}</td>
                    </tr>
                    <tr>
                        <td>{{.Form.Date}}</td>
                        <td>{{.Form.Account}}</td>
                        <td>{{.Form.Category}}</td>
                        <td>{{.Form.Product}}</td>
                        <td>{{.Form.FormPriceStr2Decimals}}</td>
                    </tr>
                    {{end}}
                    {{range $FT := .FTlist}}
                        <tr>
                            <td>{{$FT.Date}}</td>
                            <td>{{$FT.Account}}</td>
                            <td>{{$FT.Category}}</td>
                            <td>{{$FT.Product}}</td>
                            <td>{{$FT.FormPriceStr2Decimals}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
    </div>
</section>

<section id="info">
    <p>
        Un récapitulatif des enregistrements est disponible ci-dessus.<br>
        Le dernier enregistrement effectué se trouve toujours tout en haut.<br>
        Les 5 derniers enregistrements effectués sont disponible à l'ouverture de cette page, attention, 
        ils ne sont pas forcément dans l'ordre chronologique si une date a été modifiée.
    </p>
    <a href="/insertrows"><button class="contrast">
        <!-- + square -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
        Enregistrer des données
    </button></a>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
    // check JS before submitting the HTMX request, prevent submit if incorect accounts selected
    document.body.addEventListener("htmx:confirm", function(evtConfirm){
        evtConfirm.preventDefault();
        accountFrom = document.getElementById("compteDepuis").value;
        accountTo = document.getElementById("compteVers").value;
        if (accountTo == "-"){
            window.alert("Merci de changer le compte à créditer.");
        } else if (accountFrom == accountTo){
            window.alert("Merci de sélectionner des comptes différents.");
        } else {
            evtConfirm.detail.issueRequest();
        }
    }, false);
</script>