{{template "head" .}}
<style>
    td button{
        margin-bottom: 0;
    }
</style>
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
<link rel="stylesheet" href="fonts/style.css"/>
{{template "body" .}}
{{template "content" .}}

<h1>Enregistrements réguliers</h1>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <details id="openForm">
            <summary>
                <strong>Créer une trame</strong><br>
                <small><i>Permet d'éviter la resaisie des factures ou salaires récurrents.</i></small>
            </summary>
            <form name="mainForm">
                <div class="grid">
                    <div>
                        <!-- Date  value="{{.Form.Date}}" -->
                        <label for="date">Date de 1ere occurrence</label>
                        <input type="date" id="date" name="date" required />
                    </div>
                    <div>
                        <!-- Select -->
                        <label for="recurrence">Récurrence</label>
                        <select id="recurrence" name="recurrence" required>
                            <option value="mensuelle">Mensuelle M+1</option>
                            <option value="hebdomadaire">Hebdomadaire J+7</option>
                            <option value="annuelle">Annuelle A+1</option>
                        </select>
                    </div>
                </div>

                <div>
                    <!-- Select -->
                    <label for="compte">Compte</label>
                    <select id="compte" name="compte" required>
                        {{range $valA := .UserParams.AccountList}}
                            <option id="from{{$valA}}" value="{{$valA}}">{{$valA}}</option>
                        {{end}}
                    </select>
                </div>

                <!-- Custom Radios Select Dropdown -->
                <details id="categoryDropdown" class="dropdown">
                    {{range $i, $C := .UserParams.CategoryList}}
                        {{$catego := index $C 0}}
                        {{$iconCodePoint := index $C 1}}
                        {{$colorHEX := index $C 2}}

                        {{if eq $i 0}}
                            <summary>
                                <span id="summaryIcon" class="icomoon" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span>
                                <span id="summaryCategory">{{$catego}}</span>
                            </summary>
                            <ul id="overflowLimitHeight">
                        {{end}}
                        <li>
                            <label>
                                <input id="input{{$i}}" type="radio" name="categorie" value="{{$catego}}"/>
                                <span id="icon{{$i}}" class="icomoon" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span>
                                {{$catego}}
                            </label>
                        </li>
                    {{end}}</ul>
                </details>

                <!-- Text -->
                <label for="designation">Désignation</label>
                <input type="text" id="designation" name="designation" placeholder="Description de l'achat" required />


                <div class="grid">
                    <div>
                        <!-- Number -->
                        <label for="prix">Montant</label>
                        <input type="number" id="prix" name="prix" min="0.00" max="100000.00" step="0.01" required />
                    </div>
                    <div>
                        <!-- Radio buttons -->
                        <fieldset>
                            <legend>Type</legend>
                            <label for="gain">
                                <input type="radio" id="gain" name="gain-expense" value="gain" />
                                <!-- trending up -->
                                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-trending-up"></use></svg>
                                Salaire
                            </label>
                            <label for="expense">
                                <input type="radio" id="expense" name="gain-expense" value="expense" checked />
                                <!-- trending down -->
                                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-trending-down"></use></svg>
                                Facture
                            </label>
                        </fieldset>
                    </div>
                </div>

                <!-- Text -->
                <input type="text" id="idRRmain" name="idRRmain" value="0" hidden readonly required />

                <!-- Buttons -->
                <button id="createRR" type="submit" value="Submit"
                    hx-post="/createRecurrentRecords" 
                    hx-target="#newRR" 
                    hx-swap="afterbegin" 
                    hx-sync="this:drop"
                    hx-indicator="#spinnerA"
                    hx-on::after-request="if(event.detail.successful) document.mainForm.reset()">
                    <span id="spinnerA" class="htmx-indicator" aria-busy="true"></span>
                    <!-- save -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-save"></use></svg>
                    Enregistrer comme trame
                </button>
                <!-- Buttons -->
                <button id="editRR" hidden
                    type="submit" value="Submit"
                    hx-post="/editRecurrentRecords" 
                    hx-target="#newRR" 
                    hx-swap="afterbegin" 
                    hx-sync="this:drop"
                    hx-indicator="#spinnerB"
                    hx-on::after-request="if(event.detail.successful) document.mainForm.reset()">
                    <span id="spinnerB" class="htmx-indicator" aria-busy="true"></span>
                    <!-- edit -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-edit"></use></svg>
                    Editer la trame
                </button>
                <!-- Buttons -->
                <button id="deleteRR" hidden
                    class="contrast outline"
                    type="submit" value="Submit"
                    hx-post="/deleteRecurrentRecords" 
                    hx-target="#infoMainForm" 
                    hx-swap="innerHTML" 
                    hx-sync="this:drop"
                    hx-indicator="#spinnerB"
                    hx-on::after-request="if(event.detail.successful) document.mainForm.reset()">
                    <span id="spinnerB" class="htmx-indicator" aria-busy="true"></span>
                    <!-- red x square -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-red-x-square"></use></svg>
                    Supprimer la trame
                </button>
            </form>
            <span id="infoMainForm"></span>
        </details>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

<section id="recurrentRecords">
    <h5>Enregistrements récurrents</h5>
    <small><i>
        Fonctionnement des boutons:
        <ul>
            <li><code>Enreg.</code> enregistre la ligne avec les données affichées.</li>
            <li><code>Modif.</code> permet de modifier/supprimer les données de la ligne.</li>
        </ul>
    </i></small>
    <div id="refreshToTopTableRR" class="overflow-auto">
        <figure>
            <table class="striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Récurrence</th>
                        <th scope="col">Compte</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Enreg.</th>
                        <th scope="col">Modif.</th>
                    </tr>
                </thead>
                <tbody id="newRR">
                    {{define "newRR"}}
                    <tr id="{{.Form.ID}}">
                        <td>{{.Form.Date}}</td>
                        <td>{{.Form.Recurrence}}</td>
                        <td>{{.Form.Account}}</td>
                        <td>{{.Form.Category}}</td>
                        <td>{{.Form.Product}}</td>
                        <td>{{.Form.FormPriceStr2Decimals}}</td>
                        <td>
                            <button class="secondary outline" disabled>
                                <!-- check square -->
                                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-check-square"></use></svg>
                            </button>
                        </td>
                        <td>
                            <button class="secondary outline" disabled>
                                <!-- check square -->
                                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-check-square"></use></svg>
                            </button>
                        </td>
                    </tr>
                    {{end}}
                    {{range $RR := .RRlist}}
                        <tr id="{{$RR.ID}}">
                            <td>{{$RR.Date}}</td>
                            <td>{{$RR.Recurrence}}</td>
                            <td>{{$RR.Account}}</td>
                            <td>{{$RR.Category}}</td>
                            <td>{{$RR.Product}}</td>
                            <td>{{$RR.FormPriceStr2Decimals}}</td>
                            <td>
                                <button id="s{{$RR.ID}}">
                                    <!-- save -->
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-save"></use></svg>
                                </button>
                            </td>
                            <td>
                                <button id="e{{$RR.ID}}">
                                    <!-- edit -->
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-edit"></use></svg>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
    </div>
    <form id="formSaveRR" 
        hx-trigger="onSaveButtonClick"
        hx-post="/saveRecurrentRecords" 
        hx-target="#lastInsert" 
        hx-swap="afterbegin" 
        hx-sync="this:drop">
        <!-- Text -->
        <input type="text" id="idRR" name="idRR" value="0" hidden readonly required />
    </form>
    <a id="refreshPage" href="?i=1#refreshToTopTableRR"><button class="secondary outline">
        <!-- refresh clockwise -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-refresh-cw"></use></svg>
        Rafraichir la page pour activer les boutons grisés
    </button></a>
    <hr>
</section>

<section id="recap">
    <h5>Derniers enregistrements</h5>
    <div class="overflow-auto">
        <figure>
            <table class="striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Compte</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody id="lastInsert">
                    {{define "lastInsert"}}
                    <tr>
                        <td>{{.Form.Date}}</td>
                        <td>{{.Form.Account}}</td>
                        <td>{{.Form.Category}}</td>
                        <td>{{.Form.Product}}</td>
                        <td>{{.Form.FormPriceStr2Decimals}}</td>
                    </tr>
                    {{end}}
                    {{range $FT := .FTlist}}
                        <tr>
                            <td>{{$FT.Date}}</td>
                            <td>{{$FT.Account}}</td>
                            <td>{{$FT.Category}}</td>
                            <td>{{$FT.Product}}</td>
                            <td>{{$FT.FormPriceStr2Decimals}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
    </div>
</section>

<section id="info">
    <p>
        Un récapitulatif des enregistrements est disponible ci-dessus.<br>
        Le dernier enregistrement effectué se trouve toujours tout en haut.<br>
        Les 5 derniers enregistrements effectués sont disponible à l'ouverture de cette page, attention, 
        ils ne sont pas forcément dans l'ordre chronologique si une date a été modifiée.
    </p>
    <a href="/insertrows"><button class="contrast">
        <!-- + square -->
        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
        Enregistrer des données
    </button></a>
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
</script>
<script>
    function showCreateButton() {
        // object.style.visibility = "visible|hidden|collapse|initial|inherit" // keep the space on the page for the element
        document.getElementById('createRR').hidden = false;
        document.getElementById('editRR').hidden = true;
        document.getElementById('deleteRR').hidden = true;
    }

    document.getElementById('editRR').addEventListener('click', function(editB){
        showCreateButton();
    });
    document.getElementById('deleteRR').addEventListener('click', function(deleteB){
        showCreateButton();
        setTimeout(function() { document.getElementById('infoMainForm').innerHTML = ""; }, 3000);
    });

    // this script add a click event on every buttons under <tbody id="newRR">
    rightPartUrl = window.location.search;
    if (rightPartUrl == "?i=1") {
        document.getElementById('refreshPage').href = (window.location.origin+window.location.pathname+"#refreshToTopTableRR");
    } else {
        document.getElementById('refreshPage').href = (window.location.origin+window.location.pathname+"?i=1#refreshToTopTableRR");
    };

    var childButtons = document.getElementById('newRR').getElementsByTagName('button');
    for (var i = 0; i < childButtons.length; i++) {
        var buttonId = childButtons[i].id;
        if (buttonId.substring(0, 1) == 's') {
            // save button, POST + disable buttons + redesign buttons
            document.getElementById(buttonId).addEventListener('click', function(s){
                rowId = this.id.substring(1);
                document.getElementById('idRR').value = rowId;
                //console.log(document.getElementById('idRR').value);
                document.getElementById(this.id).disabled = true;
                document.getElementById(this.id).classList.add('secondary');
                document.getElementById(this.id).classList.add('outline');
                document.getElementById(this.id).innerHTML = `
                    <!-- check square -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-check-square"></use></svg>
                `;
                document.getElementById("e"+rowId).disabled = true;
                document.getElementById("e"+rowId).classList.add('secondary');
                document.getElementById("e"+rowId).classList.add('outline');
                document.getElementById("e"+rowId).innerHTML = `
                    <!-- check square -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-check-square"></use></svg>
                `;
                document.getElementById('infoMainForm').innerHTML = "";
                htmx.trigger("#formSaveRR", "onSaveButtonClick");
            });
        } else if (buttonId.substring(0, 1) == 'e') {
            // edit button, put back all data in the form and change the output of the form to UPDATE on submit
            document.getElementById(buttonId).addEventListener('click', function(e){
                rowId = this.id.substring(1);
                var childTd = document.getElementById(rowId).getElementsByTagName('td');
                document.getElementById('openForm').open = true;
                document.getElementById('createRR').hidden = true;
                document.getElementById('editRR').hidden = false;
                document.getElementById('deleteRR').hidden = false;
                document.getElementById('date').focus();
                document.getElementById('idRRmain').value = rowId;
                document.getElementById('infoMainForm').innerHTML = "";
                for (var i = 0; i < childTd.length; i++) {
                    switch(i) {
                        case 0:
                            document.getElementById('date').value = childTd[i].innerHTML;
                            break;
                        case 1:
                            document.getElementById('recurrence').value = childTd[i].innerHTML;
                            break;
                        case 2:
                            document.getElementById('compte').value = childTd[i].innerHTML;
                            break;
                        case 3:
                            document.getElementById('categorie').value = childTd[i].innerHTML;
                            break;
                        case 4:
                            document.getElementById('designation').value = childTd[i].innerHTML;
                            break;
                        case 5:
                            amount = parseFloat(childTd[i].innerHTML);
                            if (amount < 0) {
                                document.getElementById('prix').value = (amount * -1);
                                document.getElementById('gain').checked = false;
                                document.getElementById('expense').checked = true;
                            } else {
                                document.getElementById('prix').value = (amount);
                                document.getElementById('gain').checked = true;
                                document.getElementById('expense').checked = false;
                            }
                            break;
                        default:
                            //console.log(childTd[i].innerHTML);
                    }
                    childTd[0].parentElement.remove();
                }
                //console.log(document.getElementById('date').value);
                //console.log(document.getElementById('recurrence').value);
            });
        };
    };

    // this script add click event on inputs inside the categoryDropdown
    document.getElementById('input0').checked = true;
    var categoryList = {{.UserParams.CategoryList}};
    var childInputs = document.getElementById('categoryDropdown').getElementsByTagName('input');
    for (var i = 0; i < childInputs.length; i++) {
        inputId = childInputs[i].id;
        //console.log(inputId + ": " + childInputs[i].value);
        document.getElementById(inputId).addEventListener('click', function(c){
            idInt = parseInt(this.id.replace("input",""));
            //console.log(categoryList[idInt]);
            document.getElementById('summaryCategory').innerHTML = categoryList[idInt][0]
            document.getElementById('summaryIcon').innerHTML = "&#x" + categoryList[idInt][1] + ";"
            document.getElementById('summaryIcon').style.backgroundColor = categoryList[idInt][2]
            document.getElementById('categoryDropdown').open = false;
        });
    };
</script>