{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>

<!-- jspreadsheet -->
<!-- <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" /> -->

{{template "body" .}}
{{template "content" .}}

<h1>Visualiser et modifier les dépenses</h1>
<p><a href="#recap">Tableau</a> disponible ci-dessous.</p>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/editrows" 
            hx-target="#listEditRows" 
            hx-swap="innerHTML"
            hx-indicator="#spinner">

            <h5>Filtrer</h5>
            <!-- Select -->
            <label for="compte">Compte</label>
            <select id="compte" name="compte">
                <option value="" selected>Tous</option>
                {{range $valA := .UserParams.AccountList}}
                     <option value="{{$valA}}">{{$valA}}</option>
                {{end}}
            </select>

            <!-- Select -->
            <label for="categorie">Catégorie</label>
            <select id="categorie" name="categorie">
                <option value="" selected>Toutes</option>
                {{range $valB := .UserParams.CategoryList}}
                     <option value="{{$valB}}">{{$valB}}</option>
                {{end}}
            </select>
            
            <!-- Number -->
            <label for="annee">Année (1900-2200)</label>
            <input type="number" id="annee" name="annee" min="1900" max="2200" step="1" value="" />

            <!-- Select -->
            <label for="mois">Mois</label>
            <select id="mois" name="mois">
                <option value="" selected>Tous</option>
                <option value="1">Janvier</option>
                <option value="2">Février</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option>
                <option value="5">Mai</option>
                <option value="6">Juin</option>
                <option value="7">Juillet</option>
                <option value="8">Août</option>
                <option value="9">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
            </select>

            <!-- Select -->
            <label for="checked">Lignes validés</label>
            <select id="checked" name="checked">
                <option value="0" selected>Toutes</option>
                <option value="1">Oui</option>
                <option value="2">Non</option>
            </select>

            <hr>
            <h5>Trier</h5>
            <!-- Select -->
            <label for="orderBy">Trier par</label>
            <select id="orderBy" name="orderBy" required>
                <option value="id" selected>Identifiant</option>
                <option value="date">Date</option>
                <option value="price">Prix</option>
            </select>

            <!-- Select -->
            <label for="orderByType">Ordre</label>
            <select id="orderByType" name="orderByType" required>
                <option value="DESC" selected>Décroissant</option>
                <option value="ASC">Croissant</option>
            </select>

            <hr>
            <!-- Number -->
            <label for="limit">Nombre max d'enregistrements (1-500)</label>
            <input type="number" id="limit" name="limit" min="1" max="500" step="1" value="20" required />

            <!-- Buttons -->
            <!-- <input type="reset" value="Réinitialiser"/> -->
            <button type="submit" value="Submit">
                <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
                Voir
            </button>
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

<section id="recap">
    <div>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Compte</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody id="listEditRows">
                    <!-- POST part -->
                    {{define "listEditRows"}}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><b><i>*SOUS-TOTAL*</i></b></td>
                            <td><b><i>{{.TotalPriceStr2Decimals}}</i></b></td>
                        </tr>
                        {{range $index, $data := .FTlistPost }}
                            <tr>
                                <td>{{$data.ID}}</td>
                                <td>{{$data.Date}}</td>
                                <td>{{$data.Account}}</td>
                                <td>{{$data.Category}}</td>
                                <td>{{$data.Product}}</td>
                                <td>{{$data.FormPriceStr2Decimals}}</td>
                            </tr>
                        {{end}}
                    {{end}}

                    <!-- GET part -->
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td><b><i>*SOUS-TOTAL*</i></b></td>
                        <td><b><i>{{.TotalPriceStr2Decimals}}</i></b></td>
                    </tr>
                    {{range $FT := .FTlist}}
                        <tr>
                            <td>{{$FT.ID}}</td>
                            <td>{{$FT.Date}}</td>
                            <td>{{$FT.Account}}</td>
                            <td>{{$FT.Category}}</td>
                            <td>{{$FT.Product}}</td>
                            <td>{{$FT.FormPriceStr2Decimals}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
    </div>
</section>

<!-- <div id="spreadsheet"></div> -->

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });

    // var data = [
    //     [1, '99/99/9999', 'Especes', 'Supermarché', 'Un produit avec description longue', '1'],
    //     [999999, '11/11/1111', 'CB', 'Autre', 'description courte', '1507.36'],
    //     // ['A1', 'Audi', '2019-02-12', '', true, '$ 2.000,00', '#777700'],
    //     // ['A2', 'Audi', '2018-07-11', '', true, '$ 4.000,01', '#007777'],
    // ];

    // jspreadsheet(document.getElementById('spreadsheet'), {
    //     data:data,
    //     columns: [
    //         { type: 'numeric', title:'ID', width:60, readOnly:true },
    //         { type: 'text', title:'Date', width:90 },
    //         { type: 'dropdown', title:'Compte', width:80, source:[ "CB", "Especes", "PEA" ] },
    //         { type: 'dropdown', title:'Catégorie', width:140, source:[ "Supermarché", "Autre" ] },
    //         { type: 'text', title:'Désignation', width:240 },
    //         { type: 'numeric', title:'Prix', width:70, mask:'# ##,00', decimal:',' },
    //         // { type: 'text', title:'Car', width:120 },
    //         // { type: 'dropdown', title:'Make', width:200, source:[ "Alfa Romeo", "Audi", "Bmw" ] },
    //         // { type: 'calendar', title:'Available', width:200 },
    //         // { type: 'image', title:'Photo', width:120 },
    //         // { type: 'checkbox', title:'Stock', width:80 },
    //         // { type: 'numeric', title:'Price', width:100, mask:'$ #.##,00', decimal:',' },
    //         // { type: 'color', width:100, render:'square', }
    //     ]
    // });
</script>