{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
<script src="/js/stickythead.js"></script>
<style>
    #thead{
        background: var(--secondary);
        opacity: 1;
    }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
{{template "body" .}}
{{template "content" .}}

<h1>Valider/annuler des gains ou dépenses</h1>
<p>
    <!-- info -->
    <svg width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><use xlink:href="/img/icons.svg#feather-info"></use></svg>
    Par défaut, le tableau contient les 10 lignes avec les dates les plus anciennes encore non validées.
</p>

<section id="advancedMode">
    <details>
        <summary>
            <strong>Mode avancé</strong><br>
            <small><i>Permet de modifier les lignes par défaut du tableau.</i></small>
        </summary>
        <form hx-post="/validaterows" 
            hx-target="#listValidateRows" 
            hx-swap="innerHTML"
            hx-indicator="#spinner">

            <h5>Filtrer</h5>
            <div>
                <!-- Select -->
                <label for="compte">Compte</label>
                <select id="compte" name="compte">
                    <option value="" selected>Tous</option>
                    {{range $valA := .UserParams.AccountList}}
                        <option value="{{$valA}}">{{$valA}}</option>
                    {{end}}
                </select>
            </div>
            <!-- Custom Radios Select Dropdown -->
            <details id="categoryDropdown" class="dropdown">
                {{range $i, $C := .UserParams.CategoryList}}
                    {{$catego := index $C 0}}
                    {{$iconCodePoint := index $C 1}}
                    {{$colorHEX := index $C 2}}

                    {{if eq $i 0}}
                        <summary>
                            <span id="summaryIcon" class="material-symbols-outlined" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span>
                            <span id="summaryCategory">{{$catego}}</span>
                        </summary>
                        <ul id="overflowLimitHeight">
                    {{end}}
                    <li>
                        <label>
                            <input id="input{{$i}}" type="radio" name="categorie" value="{{$catego}}"/>
                            <span id="icon{{$i}}" class="material-symbols-outlined" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span>
                            {{$catego}}
                        </label>
                    </li>
                {{end}}</ul>
            </details>
            <div class="grid">
                <div>
                    <!-- Number -->
                    <label for="annee">Année (1900-2200)</label>
                    <input type="number" id="annee" name="annee" min="1900" max="2200" step="1" value="" />
                </div>
                <div>
                    <!-- Select -->
                    <label for="mois">Mois</label>
                    <select id="mois" name="mois">
                        <option value="" selected>Tous</option>
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                </div>
                <div>
                    <!-- Select -->
                    <label for="checked">
                        <!-- alert-triangle -->
                        <svg width="24" height="24" viewBox="0 0 24 24" stroke="#FFC000"><use xlink:href="/img/icons.svg#feather-alert-triangle"></use></svg>
                        Lignes validées
                    </label>
                    <select id="checked" name="checked">
                        <option value="0">Toutes</option>
                        <option value="1">Oui</option>
                        <option value="2" selected>Non (défaut)</option>
                    </select>
                </div>
            </div>
            <small>
                <!-- alert-triangle -->
                <svg width="24" height="24" viewBox="0 0 24 24" stroke="#FFC000"><use xlink:href="/img/icons.svg#feather-alert-triangle"></use></svg>
                si <code>Lignes Validées</code> est différent de <code>Non</code>, il est possible d'annuler 
                <!-- red x square -->
                <svg width="24" height="24" viewBox="0 0 24 24" stroke="firebrick"><use xlink:href="/img/icons.svg#feather-x-square"></use></svg>
                des lignes précédemment validées
                <!-- green check square -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-green-check-square"></use></svg>
                <br>
                (revalider une ligne précédemment validée changera sa date de validation)
            </small>

            <hr>
            <h5>Trier</h5>
            <div class="grid">
                <div>
                    <!-- Select -->
                    <label for="orderBy">Trier par</label>
                    <select id="orderBy" name="orderBy" required>
                        <option value="id">Identifiant</option>
                        <option value="date" selected>Date</option>
                        <option value="price">Prix</option>
                    </select>
                </div>
                <div>
                    <!-- Select -->
                    <label for="orderByType">Ordre</label>
                    <select id="orderByType" name="orderByType" required>
                        <option value="DESC">Décroissant</option>
                        <option value="ASC" selected>Croissant</option>
                    </select>
                </div>
            </div>

            <hr>
            <!-- Number -->
            <label for="limit">Nombre max d'enregistrements (1-500)</label>
            <input type="number" id="limit" name="limit" min="1" max="500" step="1" value="10" required />

            <!-- Buttons -->
            <!-- <input type="reset" value="Réinitialiser"/> -->
            <button type="submit" value="Submit">
                <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
                <!-- eye -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-eye"></use></svg>
                Voir
            </button>
            <small>
                <!-- info -->
                <svg width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><use xlink:href="/img/icons.svg#feather-info"></use></svg>
                Après enregistrement d'une modification, le tableau de données ci-dessous réaffiche les lignes du mode par défaut.
            </small>

            <!-- Text -->
            <input type="text" id="method1" name="method" value="ADVANCED" hidden readonly required />
        </form>
    </details>
</section>

<section id="form">
    <div id="forbidden"> <!-- via header: "HX-Retarget", "#forbidden" -->
        <form hx-post="/validaterows" 
            hx-target="#listValidateRows" 
            hx-swap="innerHTML">

            <h5>Paramètres de traitement des lignes</h5>
            <div class="grid">
                <div>
                    Mode<br>
                    <span id="mode">Le mode <code>Validation</code> est activé.</span>
                    <label for="switchMode">
                        <!-- red x square -->
                        Annulation
                        <svg width="24" height="24" viewBox="0 0 24 24" stroke="firebrick"><use xlink:href="/img/icons.svg#feather-x-square"></use></svg>
                        <input type="checkbox" id="switchMode" name="switchMode" role="switch" checked />
                        <!-- green check square -->
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-green-check-square"></use></svg>
                        Validation
                    </label>
                </div>
                <div>
                    <!-- Date-->
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" value="{{.Today}}" required />
                </div>
            </div>

            <div class="overflow-auto">
                <figure>
                    <table class="striped">
                        <thead id="thead">
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" id="toggle" name="toggle" value="0">
                                </th>
                                <th scope="col">Date</th>
                                <th scope="col">Compte</th>
                                <th scope="col">Categorie</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Prix</th>
                            </tr>
                        </thead>
                        <tbody id="listValidateRows">
                            <!-- POST part -->
                            <!-- IDs: input + td + "selectedSum" used to calculate with .js func -->
                            {{define "listValidateRows"}}
                                {{range $index, $data := .FTlistPost }}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="{{$data.ID}}" name="id" value="{{$data.ID}}">
                                        </td>
                                        <td>{{$data.Date}}</td>
                                        <td>{{$data.Account}}</td>
                                        <td>{{$data.Category}}</td>
                                        <td>{{$data.Product}}</td>
                                        <td id="v{{$data.ID}}">{{$data.FormPriceStr2Decimals}}</td>
                                    </tr>
                                {{end}}
                                <tr>
                                    <td></td>
                                    <td colspan="2">INFO</td>
                                    <td colspan="3">Il reste {{.TotalRowsWithoutLimit}} lignes à traiter.</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="4">MONTANT DE LA SELECTION</td>
                                    <td id="selectedSum">0.00</td> <!-- id for sum -->
                                </tr>
                            {{end}}

                            <!-- GET part -->
                            <!-- IDs: input + td + "selectedSum" used to calculate with .js func -->
                            {{range $FT := .FTlist}}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="{{$FT.ID}}" name="id" value="{{$FT.ID}}">
                                    </td>
                                    <td>{{$FT.Date}}</td>
                                    <td>{{$FT.Account}}</td>
                                    <td>{{$FT.Category}}</td>
                                    <td>{{$FT.Product}}</td>
                                    <td id="v{{$FT.ID}}">{{$FT.FormPriceStr2Decimals}}</td>
                                </tr>
                            {{end}}
                            <tr>
                                <td></td>
                                <td colspan="2">INFO</td>
                                <td colspan="3">Il reste {{.TotalRowsWithoutLimit}} lignes à traiter.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="4">MONTANT DE LA SELECTION</td>
                                <td id="selectedSum">0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </figure>
            </div>

            <!-- Buttons -->
            <button id="submit" type="submit" value="Submit">
                <!-- check square -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-check-square"></use></svg>
                Valider
            </button>

            <!-- Text -->
            <input type="text" id="method2" name="method" value="UPDATE" hidden readonly required />

            <!-- Text -->
            <input type="text" id="checkedList" name="checkedList" hidden readonly required />
        </form>
    </div> <!-- via header: "HX-Retarget", "#forbidden" -->
</section>

{{template "footer" .}}

<script>
    // this script handle the forbidden(http403) error triggered when no gofiID Cookie is found and still use HTMX
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (evt.detail.xhr.status === 403) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });

    //switch between validate or cancel mode
    document.getElementById('switchMode').addEventListener('click', function(toggleSwitchMode){
        if (this.checked) {
            document.getElementById('mode').innerHTML = `Le mode <code>Validation</code> est activé.`
            document.getElementById('submit').innerHTML = `
                <!-- check square -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-check-square"></use></svg>
                Valider
            `
        } else {
            document.getElementById('mode').innerHTML = `Le mode <code>Annulation</code> est activé.`
            document.getElementById('submit').innerHTML = `
                <!-- x square -->
                <svg width="24" height="24" viewBox="0 0 24 24" stroke="currentcolor"><use xlink:href="/img/icons.svg#feather-x-square"></use></svg>
                Annuler
            `
        };
    });

    // select all checkboxes with the clickable header checkbox
    document.getElementById('toggle').addEventListener('click', function(toggle){
        checkboxes = document.querySelectorAll('input[type=checkbox][name=id]');
        for(var i=0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].value > 0) {checkboxes[i].checked = this.checked;}
        }
    });

    // add all checked ids on the checkedList to send in the post request
    document.getElementById('submit').addEventListener('click', function(evt){
        var array = [];
        var checkboxes = document.querySelectorAll('input[type=checkbox][name=id]:checked');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].value > 0) {array.push(checkboxes[i].value)};
        };
        // console.log(array);
        document.getElementById('checkedList').value = array;
    });

    // add sum of the selection in the final row of the table
    function sumOfCheckboxesSelection(allCheckboxes) {
        for (var i = 0; i < allCheckboxes.length; i++) {
            currentId = allCheckboxes[i].value;
            if (currentId > 0) {
                document.getElementById(currentId).addEventListener('click', function(evt){
                    thisID = this.id
                    oldTotal = parseFloat(document.getElementById('selectedSum').innerHTML);
                    selectedValue = parseFloat(document.getElementById('v' + thisID).innerHTML);
                    if (this.checked) {newTotal = oldTotal + selectedValue;} else {newTotal = oldTotal - selectedValue;}
                    //console.log('oldTotal: ' + oldTotal);
                    //console.log('selectedValue: ' + selectedValue);
                    document.getElementById('selectedSum').innerHTML = newTotal.toFixed(2);
                });
            };
        };
    };
    // <!-- IDs: input + td + "selectedSum" used to calculate with .js func -->
    var allCheckboxes = document.querySelectorAll('input[type=checkbox][name=id]');
    sumOfCheckboxesSelection(allCheckboxes);
    document.body.addEventListener('htmx:afterSwap', function (evt) {
        var allCheckboxes = document.querySelectorAll('input[type=checkbox][name=id]');
        sumOfCheckboxesSelection(allCheckboxes);
    });

    // this script add click event on inputs inside the categoryDropdown
    document.getElementById('input0').checked = true;
    var categoryList = {{.UserParams.CategoryList}};
    var childInputs = document.getElementById('categoryDropdown').getElementsByTagName('input');
    for (var i = 0; i < childInputs.length; i++) {
        inputId = childInputs[i].id;
        //console.log(inputId + ": " + childInputs[i].value);
        document.getElementById(inputId).addEventListener('click', function(c){
            idInt = parseInt(this.id.replace("input",""));
            //console.log(categoryList[idInt]);
            document.getElementById('summaryCategory').innerHTML = categoryList[idInt][0]
            document.getElementById('summaryIcon').innerHTML = "&#x" + categoryList[idInt][1] + ";"
            document.getElementById('summaryIcon').style.backgroundColor = categoryList[idInt][2]
            document.getElementById('categoryDropdown').open = false;
        });
    };

    // enable sticky headers on the table
    let elements = document.querySelectorAll('table');
    stickyThead.apply(elements);
</script>