{{template "head" .}}
<style>
    .right{
        text-align: right;
    }
    div#container{
        text-align: center;
    }
    .apexcharts-canvas{
        margin: 0 auto;
    }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
{{template "body" .}}
{{template "content" .}}

<h1>Statistiques</h1>

<section>
    <form id="form" name="form" action="/stats" method="post">
        <div class="grid">
            <div>
                <b>Mode d'affichage des données</b><br>
                {{if .Checked}}
                    <span id="mode">Le mode <code>Données validées</code> est activé.</span>
                {{else}}
                    <span id="mode">Le mode <code>Toutes les données</code> est activé.</span>
                {{end}}
                <label for="switchMode">
                    Toutes
                    <!-- plus square -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-plus-square"></use></svg>
                    {{if .Checked}}
                        <input type="checkbox" id="switchMode" name="switchMode" role="switch" checked />
                    {{else}}
                        <input type="checkbox" id="switchMode" name="switchMode" role="switch" />
                    {{end}}
                    <!-- green check square -->
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-green-check-square"></use></svg>
                    Validées uniquement
                </label><br> <!-- br for smartphone UI -->
            </div>
            <div>
                <!-- Number -->
                <label for="annee"><b>Année</b></label>
                <input type="number" id="annee" name="annee" min="1900" max="2200" step="1" value="{{.Year}}" />
            </div>
        </div>
    </form>
</section>

<section id="account-stats">
    <div>
        <figure>
            <h5>Détail des Comptes</h5>
            <table class="striped overflow-auto">
                <thead>
                    <tr>
                        <th scope="col">Compte</th>
                        <th scope="col" class="right">Prix</th>
                        <th scope="col" class="right">Quantite</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $A := .AccountList}}
                        {{$compte := index $A 0}}
                        {{$prix := index $A 1}}
                        {{$quantite := index $A 2}}
                        <tr>
                            <td>{{$compte}}</td>
                            <td class="right">{{$prix}}</td>
                            <td class="right">{{$quantite}}</td>
                        </tr>
                    {{end}}
                    <tr>
                        <td>---</td>
                        <td class="right">---</td>
                        <td class="right">---</td>
                    </tr>
                    <tr>
                        <td>TOTAUX</td>
                        {{range $i, $v := .TotalAccount}} 
                            <td class="right">{{$v}}</td>
                        {{end}}
                    </tr>
                </tbody>
            </table>
        </figure>
    </div>
</section>

<section id="graph-expenses">
    <h5>Principales dépenses par Catégorie</h5>
    <div id="container"></div>
</section>

<section id="category-stats">
    <div>
        <figure>
            <h5>Détail complet par Catégorie</h5>
            <table class="striped overflow-auto">
                <thead>
                    <tr>
                        <th scope="col">Categorie</th>
                        <th scope="col" class="right">Prix</th>
                        <th scope="col" class="right">Quantite</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $C := .CategoryList}}
                        {{$catego := index $C 0}}
                        {{$prix := index $C 1}}
                        {{$quantite := index $C 2}}
                        {{$iconCodePoint := index $C 3}}
                        {{$colorHEX := index $C 4}}
                        <tr>
                            <td>
                                <span class="material-symbols-outlined" style="background-color: {{$colorHEX}};">&#x{{$iconCodePoint}};</span> 
                                {{$catego}}
                            </td>
                            <td class="right">{{$prix}}</td>
                            <td class="right">{{$quantite}}</td>
                        </tr>
                    {{end}}
                    <tr>
                        <td>---</td>
                        <td class="right">---</td>
                        <td class="right">---</td>
                    </tr>
                    <tr>
                        <td>TOTAUX</td>
                        {{range $i, $v := .TotalCategory}} 
                            <td class="right">{{$v}}</td>
                        {{end}}
                    </tr>
                </tbody>
            </table>
        </figure>
    </div>
</section>

{{template "footer" .}}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="module">
    var iconCodePointList = {{.IconCodePointList}};
    var jsIconCodePointList = [];
    for (let i = 0; i < iconCodePointList.length; i++) {
        var jsCodePoint
        jsCodePoint = parseInt(iconCodePointList[i], 16);
        jsCodePoint = String.fromCodePoint(jsCodePoint);
        jsIconCodePointList.push(jsCodePoint);
    };
    const icons = jsIconCodePointList // ['\ue887','\ue887','\ue531','\ue531','\ue531'] fonctionnel avec:: fontFamily: 'Material Icons'
    const colors = {{.ColorHEXList}} // ['#F44336', '#E91E63', '#9C27B0', '#E91E63']
    const labels = {{.CategoryLabelList}}
    const series = {{.CategoryValueList}} // [4, 5, 41, 17, 15, 11, 4, 6, 4, 5]
    
    var options = {
        series: series,
        labels: labels,
        colors: colors,
        chart: {type: 'donut', height: 550, width: 550},
        legend: {show: false},
        dataLabels: {
          formatter(val, opts) {
            const name = opts.w.globals.labels[opts.seriesIndex]
            return icons[opts.seriesIndex]
          },
          /* fontFamily: 'Material Symbols Outlined' 'Material Icons' 'Bootstrap-icons'*/
          style: {fontSize: '24px', fontFamily: 'Material Symbols Outlined'},
        },

        responsive: [
            {
                breakpoint: 576,
                options: {chart: {height: 450, width: 450}}
            },
            {
                breakpoint: 480,
                options: {
                    chart: {height: 350, width: 350},
                    dataLabels: {style: {fontSize: '18px'}},
                }
            },
            {
                breakpoint: 365,
                options: {
                    chart: {height: 250, width: 250},
                    dataLabels: {style: {fontSize: '14px'}},
                }
            }
        ]
    };

    var chart = new ApexCharts(document.querySelector("#container"), options);
    chart.render();
</script>
<script>
    document.getElementById('switchMode').addEventListener('click', function(evt){
        document.getElementById("form").submit();
    });
    document.getElementById('annee').addEventListener('change', function(evt){
        document.getElementById("form").submit();
    });
</script>