{{template "head" .}}
<style>
    td.col1, 
    td.col2,
    .right{
        text-align: right;
    }
</style>
{{template "body" .}}
{{template "content" .}}

<h1>Statistiques</h1>

<section id="stats">
    <div>
        <figure>
            <h5>Comptes</h5>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Compte</th>
                        <th scope="col" class="right">Prix</th>
                        <th scope="col" class="right">Quantite</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $A := .AccountList}}
                        <tr>
                        {{range $i, $v := $A}} 
                            <td class="col{{$i}}">{{$v}}</td>
                        {{end}}
                        </tr>
                    {{end}}
                    <tr>
                        <td>---</td>
                        <td class="right">---</td>
                        <td class="right">---</td>
                    </tr>
                    <tr>
                        <td>TOTAUX</td>
                        {{range $i, $v := .Total}} 
                            <td class="right">{{$v}}</td>
                        {{end}}
                    </tr>
                </tbody>
            </table>
        </figure>
    </div>
    <div>
        <figure>
            <h5>Categories</h5>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Categorie</th>
                        <th scope="col" class="right">Prix</th>
                        <th scope="col" class="right">Quantite</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $C := .CategoryList}}
                        <tr>
                        {{range $i, $v := $C}} 
                            <td class="col{{$i}}">{{$v}}</td>
                        {{end}}
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
    </div>
</section>

{{template "footer" .}}