{{define "head"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="https://gofi.benjamin-mary.com/img/favicon-32x32.png" />
        <link rel="apple-touch-icon" href="https://gofi.benjamin-mary.com/img/apple-touch-icon.png" />
        <link rel="icon" sizes="192x192" href="https://gofi.benjamin-mary.com/img/android-chrome-192x192.png">
        <link rel="android-chrome" sizes="192x192" href="https://gofi.benjamin-mary.com/img/android-chrome-192x192.png" />
        <link rel="android-chrome" sizes="512x512" href="https://gofi.benjamin-mary.com/img/android-chrome-512x512.png" />
        <link rel="favicon" href="https://gofi.benjamin-mary.com/img/favicon-32x32.png" />

        <!-- Pico.css -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <style>
            a[role=button]{
                min-width: 80vw;
            }
            span.material-symbols-outlined {
                display: inline-flex;
                vertical-align: middle;
                border-radius: 100px;
                padding: 0.13em 0.13em 0.13em 0.13em; /* top | right | bottom | left */
                color: white;
            }
            #overflowLimitHeight{
                max-height: 50vh;
                overflow-y: auto;
            }
        </style>
{{end}}

{{define "body"}}
    </head>
    <body class="container-fluid">

{{end}}

{{define "content"}}
        <main>
{{end}}

{{define "footer"}}
        </main>
        <footer>
            <a href="/" role="button" class="contrast outline">
                <!-- home -->
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#feather-home"></use></svg>
                Retour à l'accueil
            </a>
        </footer>

    <!-- Minimal theme switcher, switch one time in index page, and reuse script everywhere to keep the desired theme -->
    <script src="/js/minimal-theme-switcher.js"></script>

    </body>
</html>
{{end}}