@font-face {
  font-family: 'icomoon';
  src:
    url('icomoon.ttf?pb9til') format('truetype'),
    url('icomoon.woff?pb9til') format('woff'),
    url('icomoon.svg?pb9til#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

