{{template "head" .}}
{{template "body" .}}
{{template "content" .}}

<figure>
    <img src="/img/gopherize-me-1.png" alt="Gopher"/>
</figure>

<section id="links">
    <h2>LINKS!</h2>
    <ol>
        <li><a href="/createUser">Create Account</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/param-setup">Setup Data Lists</a></li>
        <li><a href="/insertrows">Insert Rows</a></li>
    </ol>
    <ul>
        <li><a href="/export-csv">Export CSV</a></li>
        <li><a href="/import-csv">Import CSV</a></li>
    </ul>
</section>

<section id="tools">
    <small>
        Built with
            • <a target="_blank" href="https://go.dev/">golang </a>
            • <a target="_blank" href="https://htmx.org/">htmx</a>
            • <a target="_blank" href="https://picocss.com/">picocss</a>
        <br>
        Gopher image from 
        <a target="_blank" href="https://gopherize.me/">gopherize.me</a>
        <br>
        <a target="_blank" href="https://github.com/BenjaminMary/gosheets/">Github</a>
    </small>
</section>
