{{template "head" .}}
{{template "body" .}}
{{template "content" .}}

<figure>
    <img src="/img/gopherize-me-1.png" alt="Gopher"/>
</figure>

<section id="links">
    <h2>LINKS!</h2>
    <ol>
        <li><a href="/cookie-setup">Setup Gofi Cookie</a></li>
        <li><a href="/insertrows">Insert Rows</a></li>
    </ol>
</section>

<section id="tools">
    <small>
        Built with
            • <a target="_blank" href="https://go.dev/">golang </a>
            • <a target="_blank" href="https://htmx.org/">htmx</a>
            • <a target="_blank" href="https://picocss.com/">picocss</a>
        <br>
        Gopher image from 
        <a target="_blank" href="https://gopherize.me/">gopherize.me</a>
        <br>
        <a target="_blank" href="https://github.com/BenjaminMary/gosheets/">Github</a>
    </small>
</section>
