{{template "head" .}}
<link rel="shortcut icon" href="https://gofi.benjamin-mary.com/img/favicon-32x32.png" />
<link rel="apple-touch-icon" href="https://gofi.benjamin-mary.com/img/apple-touch-icon.png" />
<link rel="android-chrome" sizes="192x192" href="https://gofi.benjamin-mary.com/img/android-chrome-192x192.png" />
<link rel="android-chrome" sizes="512x512" href="https://gofi.benjamin-mary.com/img/android-chrome-512x512.png" />
<link rel="favicon" href="https://gofi.benjamin-mary.com/img/favicon-32x32.png" />
{{template "body" .}}
{{template "content" .}}

<figure>
    <img src="/img/gopherize-me-1.png" alt="Gopher"/>
</figure>

<section id="links">
    <h2>Fonctionnalités!</h2>
    {{if .Logged}}
        <p>Bienvenue <code>{{.Email}}</code> !</p>
    {{end}}
    <ol>
        {{if .Logged}}
            <li><a href="/param-setup">Paramétrer les listes et les préférences de l'application</a></li>
            <li><a href="/insertrows">Enregistrer des dépenses</a></li>
        {{else}}
            <li><a href="/createUser">Créer un compte</a></li>
            <li><a href="/login">Se connecter</a></li>
        {{end}}
    </ol>
    {{if .Logged}}
        <ul>
            {{if .Admin}}
                <li><a href="/checkpoint">Page d'administration</a></li>
                <li><a href="/checkpoint?backup=1">Générer un backup DB SQLite</a></li>
                <br>
            {{end}}
            <li><a href="/export-csv">Exporter les dépenses en fichier CSV</a></li>
            <li><a href="/import-csv">Importer un fichier CSV de dépenses</a></li>
        </ul>
        <a href="/logout">Se déconnecter</a>
    {{end}}
</section>
<hr>
<section id="tools">
    <small>
        Fait avec
            • <a target="_blank" href="https://go.dev/">golang </a>
            • <a target="_blank" href="https://htmx.org/">htmx</a>
            • <a target="_blank" href="https://picocss.com/">picocss</a>
        <br>
        Logo 
        <a target="_blank" href="https://gopherize.me/">gopherize.me</a>
        <br>
        Code source
        <a target="_blank" href="https://github.com/BenjaminMary/gofi/">Github</a>
    </small>
</section>
