{{template "head" .}}
<!-- avoid CDN https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
<!-- Subresource Integrity, SRI hash : https://www.srihash.org/ -->
<script 
    src="https://unpkg.com/htmx.org@1.9.6" 
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
    crossorigin="anonymous">
</script>
{{template "body" .}}
{{template "content" .}}

<h1>Import CSV</h1>

<section id="form">
    <h3>Options</h3>
    <form enctype="multipart/form-data"
        hx-post="/import-csv"
        hx-target="#textarea"
        hx-indicator="#spinner"
        hx-on::after-request="if(event.detail.successful) document.getElementById('form').remove()">
    <!-- <form> -->
        <!-- Select -->
        <label for="csvSeparator">Séparateur de colonne</label>
        <select id="csvSeparator" name="csvSeparator" required>
            <option value=";" selected>";" : exemple A;B;C</option>
            <option value=",">"," : exemple A,B,C</option>
            <option value="|">"|" : exemple A|B|C</option>
            <option value="" disabled> </option>
        </select>

        <!-- Select -->
        <label for="csvDecimalDelimiter">Séparateur de décimale</label>
        <select id="csvDecimalDelimiter" name="csvDecimalDelimiter" required>
            <option value="," selected>"," : exemple 1,99</option>
            <option value=".">"." : exemple 1.99</option>
            <option value="" disabled> </option>
        </select>

        <!-- File -->
        <label for="csvFile">Charger le fichier csv</label>
        <input type="file" id="csvFile" name="csvFile">

        <!-- Buttons -->
        <button id="disapear" type="submit" value="Submit">
            <span id="spinner" class="htmx-indicator" aria-busy="true"></span>
            Importer les données
        </button>
    </form>
    <hr>
</section>

<textarea id="textarea" rows="10"></textarea>

{{template "footer" .}}
